@import "tailwindcss";

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

/* Здесь добавляем цвета, меняем шрифты, и другие натсройки
   Всё, что интересно смотрим в доке Tailwind */
@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #cd1d51;
  --color-tLightD: #ffffff;
  --color-tDarkD: #454343;
  
  --color-bgDarkD: #000000;
  --color-bgBaseD: #1b1b1b;
  --color-bgMiddletD: #454343;
  --color-bgLightD: #777777;

  --text-button: 14px;
  --text-body1: 18px;
  --text-body2: 16px;
  --text-heading5: 18px;
  --text-heading4: 20px;
  --text-heading3: 24px;
  --text-heading2: 55px;
  --text-heading1: 78px;

  --radius-normal: 4px;
  --radius-large: 8px;


}

body {
    background-color: black;
}